.input {
  box-sizing: border-box;
  padding-left: 10px;
  color: #000;
  width: 100%;
  max-width: 684px;
  height: 54px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

::placeholder {
  color: #767676;
  opacity: 1;
}

:-ms-input-placeholder {
  color:#767676;
}

::-ms-input-placeholder {
  color:#767676;
}
