.card {
  width: 280px;
  font-size: 14px;
  text-align: left;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
}

.card:hover {
  opacity: 0.7;
}

.card__image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card__title {
  font-weight: 700;
  color: #000000;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 0;
}

.card__subtitle {
  color: #767676;
  width: 70%;
  margin-top: 5px;
}
